[submodule "visualizer/curlpp"]
	path = visualizer/uppaal_external_functions/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "visualizer/json"]
	path = visualizer/uppaal_external_functions/nlohmann_json
	url = https://github.com/nlohmann/json.git
