[submodule "simulation_gui/uppaal_external_functions/curlpp"]
	path = simulation_gui/uppaal_external_functions/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "simulation_gui/uppaal_external_functions/nlohmann_json"]
	path = simulation_gui/uppaal_external_functions/nlohmann_json
	url = https://github.com/nlohmann/json.git
